<!-- <p>sidebar works!</p> -->


<p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="10000">
    <ul class="nav flex-column">

        <li class="nav-item">
        <a class="nav-link " [routerLink]="['/home']" routerLinkActive="router-link-active" ><h5>Home</h5></a>
        </li>

        <li class="nav-item">
        <a class="nav-link" [routerLink]="['/aboutus']" routerLinkActive="router-link-active" ><h5>About Us</h5></a>
        </li>
        <li class="nav-item">
        <a class="nav-link" [routerLink]="['contactus']" routerLinkActive="router-link-active"><h5>Contact Us</h5></a>
        </li>
        <li class="nav-item">
        <a class="nav-link "[routerLink]="['display']" routerLinkActive="router-link-active"><h5>Display</h5></a>
        </li>
        </ul>

</p-sidebar>

<button pButton type="button" class="togle" (click)="visibleSidebar" (mouseenter) ="mouseEnter()"icon="pi pi-arrow-right"><span class="tgle1">Toggle</span></button>
