.btn-primary {
  color: #fff;
  background-color: gray;
  border-color: gray;
  width: 20%;
}

.btn-danger {
  color: #fff;
  background-color: gray;
  border-color: gray;
  width: 30%;
}
.btn-info {
  color: #fff;
  background-color: gray;
  border-color: gray;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.56);
}

.container {
  background-color: #f8f9fa;
}
.maincontainer{
  background-color: #e9ecef;
  width: 100%;
  margin-top: 35px;
  /* padding: 30px; */
  padding: 74px
}
.pagination{
  padding-left: 359px;

}
